/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*
* Layout.css -> For the web layout skeleton based
* Copyright 2013, Dwi Novanto Ji
* http://novantoji.com
* Reuse of this stylesheet is strictly prohibited
* 
*/

/* Table of Content
==================================================
	#Header Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Header Styles
================================================== */
header {
	background-color:rgba(146, 170, 231, 0.36);
	height:100px;
}

#name {
	font-family: "Avant-Garde";
	font-size:52px;
	padding-top:4.5%;
}

#menu {
	float:right;
	padding-top:6%;
	font-family: "Omnes";
	font-size: 28px;
}

#menu a {
	margin-left:25px;
	padding-bottom:10px;
}

/* #Page Styles
================================================== */
body {
	background-image: url('../images/geometry.png');
}

#loader { position:absolute; top:0px; left:0px; height:100%; width:100%; background:#000; color:#fff; text-align:center; } 

a {
	color:#f86b76;
	text-decoration: none;
}

a:visited{

}

a:hover{
	color:#f62131;
}

#content{
	padding-top:5%;
}

.container .one-third.column {
	text-align: center;
	margin-bottom: 13px;
}

.active-marker a{
	border-bottom:solid 2px;
}

#about h2, .cheader {
	max-width:170px;
	border-bottom:1px solid #a9a9a9;
	margin:0 auto;
	margin-bottom:20px;
}

.cheader {
	max-width:200px;
}
.circle{
	width: 222px;
	height: 222px;
	border-radius: 230px;
	margin: 0 auto;
	top: 0;
	margin-bottom: 1.25em;
	padding: 4px;
	border: 2px solid #f86b76;
	background-color: #FFF;
}

#works h3 {
	border-top:1px solid #a9a9a9;
	border-bottom:1px solid #a9a9a9;
	padding-top:1px;
	padding-bottom:2px;
	font-size: 25px;
}

#about img{
	max-width:220px;
}

#about, #works {
	text-align: center;
}

#cheers{
	font-size: 20px;
}

.mid{
	margin:0 auto;
	width:660px;
	text-align: left;
}

#contact .mid p {
	max-width:480px;
	font-size: 30px;
	margin:0 auto;
}

.social {
	padding-left:10px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#name {
			font-size:60px;
		}

		#menu {
			font-size:26px;
		}

	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
		#name {
			font-size:40px;
		}
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		header{
			height:120px;
		}
		#name {
			font-size:50px;
		}

		#menu {
			font-size:22px;
		}
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		#name {
			font-size:46px;
		}

		#menu {
			font-size:18px;
		}
		#menu a {
			margin-left:10px;
			padding-bottom:10px;
		}
	}


/* #Font-Face
================================================== */
@font-face {
	    font-family: 'Avant-Garde';
	    src: url('../fonts/ITC_Avant_Garde_Gothic_LT_Extra_Light.ttf');
	    font-weight: normal;
	    font-style: normal; 
}

@font-face {
	    font-family: 'Omnes';
	    src: url('../fonts/Omnes-Light.otf');
	    font-weight: normal;
	    font-style: normal; 
}

@font-face {
	    font-family: 'Railway';
	    src: url('../fonts/Railway-Normal.woff');
	    font-weight: normal;
	    font-style: normal; 
}